#logo{
    color: white;
    text-decoration: none;
    font-size: 250%;
    padding: 1%;
}
.container{
	width: 90%;
    border-radius: 15px;
	margin-top: 1.5%;
	height: 100%;
	background-color: rgba(245, 245, 245, 0.25);
}
body{
	height:90%;
	padding: 3%;
	background-image: url("../img/background.jpg");
}
#header{
    border-radius: 15px;
	background-color: rgba(16, 91, 156, 0.5);
	height: auto;
}
#topMenu{
	margin-right: 10%;
	margin-top: 1%;
	width: auto;
	float: right;
	list-style-type:none;
}
#topMenu a{
	color:white;
    text-decoration: none;
	font-size: 130%;
    E7E7FD
}
#topMenu a:hover{
    color:#E7E7FD
}
#topMenu li{
	margin-right: 10%;
 	width:40%;
	float:left;
}
#footer{
    border-radius: 15px;
	margin-top: 1%;
	width: 100%;
	text-align: center;
	background-color: rgba(245, 245, 245, 0.25);
    height: 5%;
}
#footer h4 {
	color: white;
	font-size: 14;
}
#registerForm{
	padding: 2%;
    border-radius: 15px;
	background-color: white;
	width:30%;
	height:90%;
}

#registerForm table tbody tr td:nth-child(1){
	position:absolute;
	margin-left:5.7%;
}
#registerForm table input{
	height: 100%;
    width: 100%;
    margin-top: 3%;
}
#registerForm table{
 	width: 75%;
 	height: 95%;
}
#registerForm table tr{
	margin-bottom:2%;
	height: 8%;
}
#registerForm label{
	display: block;
    width: 170px;
    height: 22px;
	font-size: 18;
}
.container h3{
    height: 4%;
    padding: 0.3%;
	color: #337ab7;
    border-radius: 15px;
	background-color: white;
}
#submitRegistration {
	margin-left: 40% !important;
	width:100% !important;
	margin-top: 1%;
}
.okIcon{
	position:absolute;
	margin-top: -1%;
    margin-left: 2%;
	width:30px;
	height:30px;
}
.failIcon{
	margin-top: -1%;
    margin-left: 2%;
	position:absolute;
	width:30px;
	height:30px;
}
#pictures{
    border-radius: 15px;
	background-color: white;
	height:90%;
	float:right;
	width: 68%;
}
#pictures table{
	margin-top: 5%;
}
#miniPhoto{
    margin-bottom: 10%;
    width: 100%;
    height: 150px;
    cursor: pointer;
}
#myModal .modal-body {
	padding:0px;
}
#myModal .modal-dialog{
 	width: 1280px;
}
#mimg {
	width: 100%;
}
.file-input{
	height: 250px;
}
.file-drop-zone-title{
	padding: 0px;
	font-size: 20px;
}
.file-preview-frame{
	width: 6%;
    height: 70%;
}
.file-preview-image{
    width: 100%;
    height: auto;
}
#userWelcome{
	color: white;
	font-size: 130%;
}


