#logo{
    color: white;
    text-decoration: none;
    font-size: 250%;
    padding: 1%;
}
.container{
	width: 90%;
    border-radius: 15px;
	margin-top: 1.5%;
	height: 100%;
	background-color: rgba(245, 245, 245, 0.25);
}
body{
	height:90%;
	padding: 3%;
    background-repeat:no-repeat;
    background-size: 100% 100%;

	background-image: url("../img/background.jpg");
}
#header{
    border-radius: 15px;
	background-color: rgba(16, 91, 156, 0.5);
	height: auto;
}
#topMenu{
	margin-top: 1%;
	width: 31%;
	float: right;
	list-style-type:none;
}
#topMenu a{
	color:white;
    text-decoration: none;
	font-size: 130%;
    E7E7FD
}
#topMenu a:hover{
    color:#E7E7FD
}
#topMenu li{
	margin-right: 5%;
 	width:auto;
 	height:10%;
	float:left;
}
#footer{
    border-radius: 15px;
	margin-top: 1%;
	width: 100%;
	text-align: center;
	background-color: rgba(245, 245, 245, 0.25);
    height: 5%;
}
#footer h4 {
	color: white;
	font-size: 14;
}
#registerForm{
	padding: 2%;
    border-radius: 15px;
	background-color: white;
	width:30%;
	height:90%;
}

#registerForm table tbody tr td:nth-child(1){
	position:absolute;
	margin-left:5.7%;
}
#registerForm table input{
	height: 100%;
    width: 100%;
    margin-top: 3%;
}
#registerForm table{
 	width: 75%;
 	height: 95%;
}
#registerForm table tr{
	margin-bottom:2%;
	height: 8%;
}
#registerForm label{
	display: block;
    width: 170px;
    height: 22px;
	font-size: 18;
}
.container h3{
    height: 4%;
    padding: 0.3%;
	color: #337ab7;
    border-radius: 15px;
	background-color: white;
}
#submitRegistration {
	margin-left: 40% !important;
	width:100% !important;
	margin-top: 1%;
}
.okIcon{
	position:absolute;
	margin-top: -1%;
    margin-left: 2%;
	width:30px;
	height:30px;
}
.failIcon{
	margin-top: -1%;
    margin-left: 2%;
	position:absolute;
	width:30px;
	height:30px;
}
#pictures{
    border-radius: 15px;
	background-color: white;
	height:90%;
	float:right;
	width: 68%;
}#userData{
    border-radius: 15px;
	background-color: white;
	height:90%;
	float:right;
	width: 68%;
	padding: 5%;
}
#pictures table{
	margin-top: 5%;
}
#miniPhoto{
    margin-bottom: 10%;
    width: 100%;
    height: 150px;
    cursor: pointer;
}
#myModal .modal-body {
	padding:0px;
}
#myModal .modal-dialog{
 	width: 1280px;
}
#mimg {
	width: 100%;
}
.file-input{
	height: 250px;
}
.file-drop-zone-title{
	padding: 0px;
	font-size: 20px;
}
.file-preview-frame{
	width: 6%;
    height: 70%;
}
.file-preview-image{
    width: 100%;
    height: auto;
}
#userWelcome{
	color: white;
}
#userWelcome a{
	font-size: 130% !important;
}
#userIcon{
	margin-right: 2% !important;
}
#userIcon img{
	width: 25px;
    height: 25px;
    display: block;
}
#loginLi{
	margin-left: 20%;
}
#userMenu{
	padding: 1%;
    border-radius: 15px;
	background-color: white;
	width:30%;
	height:90%;
}
#userMenu ul{
	list-style-type:none;
	padding: 0%;
}
#userMenu li{
	margin-left: 5%;
	width: 90%;
	height: 7%;
	margin-top: 3%;
}
#userMenu a{
	font-size: 120%;
	width: 100%;
	height: 100%;
}
.focused-button{
	color: #fff;
	background-color: #204d74;
	border-color: #122b40;
}
#myProfileForm{
	width: 100%;
}
#myProfilePic h3{
	font-size: 300%;
}
#myProfilePic{
	float: left;
	width: 30%;
}
#myProfileData{
	width: 25%;
	float: left;
}
#myProfileData p{
	font-size: 200%;
}

#myProfileData label{
	font-size: 100%;
}

#submitMyProfile{
	float: right;
}
#myProfilePic img{
	width: 80%;
	height: auto;
}
#aboutMe{
	width: 40%;
	float: left;
}
#aboutMe textarea{
	width: 100%;
	height: 60%;
}
#myProfileButtons{
	float:left;
	margin-top: 10%;
    width: 100%;
    margin-left: 10%;
}
#myProfileButtons a{
    font-size: 140%;
	margin-right: 14%;
}
#myPlacesMap{
	width: 100%;
    height: 80%;
}
#addNewPlaceLabel{
	width: 10%;
}
#newPlaceDatePicker{
	width: 40%;
}
