<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.travelo.entities.UserEntity"></mapping>
        <mapping class="com.travelo.entities.ImageEntity"></mapping>
        <mapping class="com.travelo.entities.MarkerEntity"></mapping>
        <mapping class="com.travelo.entities.UserProfile"></mapping>
    </session-factory>
</hibernate-configuration>